In [1]:
import pandas as pd
csv_file_path = 'fake_transactional_data_24.csv'

df = pd.read_csv(csv_file_path)
print(df)
df.isnull().sum()

          from_totally_fake_account  monopoly_money_amount  \
0                           10371.0                   4.00
1                           88339.0                   2.40
2                           18555.0                   2.40
3                           18555.0                   4.10
4                           80792.0                   1.95
...                             ...                    ...
10148275                    32185.0                   2.65
10148276                    32185.0                   2.45
10148277                    57569.0                  14.00
10148278                     1490.0                   9.00
10148279                    53444.0                   2.65

         to_randomly_generated_account not_happened_yet_date
0                               CINEMA            01/01/2025
1                                40544            01/01/2025
2                                85149            01/01/2025
3                  HIPSTER_COFFEE_SHOP            01/01/2025
4                                18555            01/01/2025
...                                ...                   ...
10148275                   COFFEE_SHOP            31/12/2025
10148276                   COFFEE_SHOP            31/12/2025
10148277                      WINE_BAR            31/12/2025
10148278                         57569            31/12/2025
10148279           A_LOCAL_COFFEE_SHOP            31/12/2025

[10148280 rows x 4 columns]

from_totally_fake_account        0
monopoly_money_amount            0
to_randomly_generated_account    0
not_happened_yet_date            0
dtype: int64

In [2]:
df_filtered = df[df['to_randomly_generated_account'].str.contains(r'\D', regex=True)]
unique_shops = df_filtered['to_randomly_generated_account'].unique()
unique_shops

array(['CINEMA', 'HIPSTER_COFFEE_SHOP', 'TOTALLY_A_REAL_COFFEE_SHOP',
       'COFFEE_SHOP', 'CAFE', 'A_CAFE', 'LOCAL_RESTAURANT',
       'A_LOCAL_COFFEE_SHOP', 'GOURMET_COFFEE_SHOP',
       'LOCAL_WATERING_HOLE', 'SANDWICH_SHOP', 'TOY_SHOP',
       'PRETENTIOUS_COFFEE_SHOP', 'BAR', 'PUB', 'COMIC_BOOK_SHOP',
       'LUNCH_VAN', 'DEPARTMENT_STORE', 'KEBAB_SHOP', 'WINE_BAR',
       'ELECTRONICS_SHOP', 'RESTAURANT', 'LOCAL_PUB', 'LUNCH_PLACE',
       'FASHION_SHOP', 'FASHIONABLE_SPORTSWARE_SHOP',
       'SCHOOL_SUPPLY_STORE', 'LOCAL_BOOKSHOP', 'TRAINER_SHOP',
       'BOOKSHOP', 'KIDS_ACTIVITY_CENTRE', 'VIDEO_GAME_STORE',
       'CLOTHES_SHOP', 'TAKEAWAY_CURRY', 'TECH_SHOP', 'NERDY_BOOK_STORE',
       'WHISKEY_BAR', 'PET_TOY_SHOP', 'DVD_SHOP', 'CHILDRENDS_SHOP',
       'GAME_SHOP', 'INDIAN_RESTAURANT', 'COCKTAIL_BAR', 'RUNNING_SHOP',
       'DIY_STORE', 'COOKSHOP', 'HOME_IMPROVEMENT_STORE', 'PET_SHOP',
       'CHINESE_TAKEAWAY', 'BUTCHERS', 'SECOND_HAND_BOOKSHOP', 'G&T_BAR',
       'GREENGROCER', 'JEWLLERY_SHOP', 'ACCESSORY_SHOP', 'TAKEAWAY',
       'KIDS_CLOTHING_SHOP', 'SPORT_SHOP', 'STEAK_HOUSE',
       'HIPSTER_ELECTRONICS_SHOP', 'CHINESE_RESTAURANT',
       'SEAFOOD_RESAURANT', 'STREAMING_SERVICE', 'GYM', 'WHISKEY_SHOP',
       'TEA_SHOP', 'RESTAURANT_VOUCHER', 'ROASTERIE', 'LIQUOR_STORE',
       'TO_BEAN_OR_NOT_TO_BEAN', 'WINE_CELLAR', 'WE_HAVE_BEAN_WEIGHTING',
       'LARGE_SUPERMARKET', 'EXPRESS_SUPERMARKET', 'BUTCHER',
       'A_SUPERMARKET', 'THE_SUPERMARKET', 'FLORIST', 'TURKEY_FARM'],
      dtype=object)

In [3]:
# 筛选与A_CAFE相关的交易
a_cafe_transactions = df[df['to_randomly_generated_account'] == 'A_CAFE']

# 显示筛选结果
print(a_cafe_transactions)

          from_totally_fake_account  monopoly_money_amount  \
10                           4428.0                   2.55
64                          44432.0                   2.55
65                          44432.0                   2.40
67                          77763.0                   2.25
69                          71037.0                   2.40
...                             ...                    ...
10148257                    73353.0                   2.15
10148261                    80844.0                   2.20
10148263                    80844.0                   3.65
10148264                    80844.0                   2.40
10148268                    68829.0                   2.40

         to_randomly_generated_account not_happened_yet_date
10                              A_CAFE            01/01/2025
64                              A_CAFE            01/01/2025
65                              A_CAFE            01/01/2025
67                              A_CAFE            01/01/2025
69                              A_CAFE            01/01/2025
...                                ...                   ...
10148257                        A_CAFE            31/12/2025
10148261                        A_CAFE            31/12/2025
10148263                        A_CAFE            31/12/2025
10148264                        A_CAFE            31/12/2025
10148268                        A_CAFE            31/12/2025

[475154 rows x 4 columns]

In [4]:
# 初始化一个空列表来存储每个商户的统计结果
shop_summaries = []

#计算每个商户的总交易额，平均交易额与总交易次数
for shop in unique_shops:
    shops_all_transactions = df_filtered[df_filtered['to_randomly_generated_account'] == shop]
    
    total_amount = shops_all_transactions['monopoly_money_amount'].sum()
    average_amount = shops_all_transactions['monopoly_money_amount'].mean()
    transaction_count = len(shops_all_transactions)
    
    shop_summaries.append({
        'shops': shop,
        'Total_Amount': total_amount,
        'Average_Amount': average_amount,
        'Transaction_Count': transaction_count
    })

# 创建DataFrame
shops_analysis = pd.DataFrame(shop_summaries)

shops_analysis

,shops,Total_Amount,Average_Amount,Transaction_Count
0,CINEMA,433414.00,6.400561,67715
1,HIPSTER_COFFEE_SHOP,561901.70,2.415867,232588
2,TOTALLY_A_REAL_COFFEE_SHOP,1145875.50,2.406978,476064
3,COFFEE_SHOP,1146046.25,2.407160,476099
4,CAFE,489245.50,4.402105,111139
...,...,...,...,...
74,BUTCHER,2097495.50,22.473246,93333
75,A_SUPERMARKET,5652778.58,69.499952,81335
76,THE_SUPERMARKET,5663475.74,69.396835,81610
77,FLORIST,2675.00,13.112745,204
78,TURKEY_FARM,98280.00,59.027027,1665

In [22]:
#shops_analysis.to_csv('shops_analysis.csv', index=False)

In [13]:
# # 排序
# shops_analysis_sorted = shops_analysis.sort_values(by='Average_Amount', ascending=False).reset_index(drop=True)

# # 计算消费等级的阈值
# top_10_percent_index = int(len(shops_analysis_sorted) * 0.1) - 1
# top_50_percent_index = int(len(shops_analysis_sorted) * 0.5) - 1

# # 分级
# shops_analysis_sorted['Consumption_Level'] = 'Standard Spending'
# shops_analysis_sorted.loc[:top_10_percent_index, 'Consumption_Level'] = 'High Spending'
# shops_analysis_sorted.loc[top_10_percent_index + 1:top_50_percent_index, 'Consumption_Level'] = 'Medium Spending'

# # 保存并展示
# shops_analysis_sorted.to_csv('shops_analysis_with_levels.csv', index=False)
# shops_analysis_sorted

,shops,Total_Amount,Average_Amount,Transaction_Count,Consumption_Level
0,TECH_SHOP,262087.00,167.040790,1569,High Spending
1,HIPSTER_ELECTRONICS_SHOP,264615.00,164.971945,1604,High Spending
2,ELECTRONICS_SHOP,250739.00,162.500972,1543,High Spending
3,DEPARTMENT_STORE,2876655.00,115.560800,24893,High Spending
4,FASHION_SHOP,2843604.00,114.587524,24816,High Spending
...,...,...,...,...,...
74,HIPSTER_COFFEE_SHOP,561901.70,2.415867,232588,Standard Spending
75,A_CAFE,1144734.25,2.409186,475154,Standard Spending
76,A_LOCAL_COFFEE_SHOP,1141932.30,2.408332,474159,Standard Spending
77,COFFEE_SHOP,1146046.25,2.407160,476099,Standard Spending
78,TOTALLY_A_REAL_COFFEE_SHOP,1145875.50,2.406978,476064,Standard Spending

In [16]:
# 排序
shops_analysis_sorted = shops_analysis.sort_values(by='Average_Amount', ascending=False).reset_index(drop=True)

# 分级
shops_analysis_sorted['Consumption_Level'] = 'Standard Spending'
shops_analysis_sorted.loc[shops_analysis_sorted['Average_Amount'] > 100, 'Consumption_Level'] = 'High Spending'
shops_analysis_sorted.loc[(shops_analysis_sorted['Average_Amount'] > 25) & (shops_analysis_sorted['Average_Amount'] <= 100), 'Consumption_Level'] = 'Medium Spending'

#保存并展示
shops_analysis_sorted.to_csv('shops_analysis_with_levels.csv', index=False)
shops_analysis_sorted

,shops,Total_Amount,Average_Amount,Transaction_Count,Consumption_Level
0,TECH_SHOP,262087.00,167.040790,1569,High Spending
1,HIPSTER_ELECTRONICS_SHOP,264615.00,164.971945,1604,High Spending
2,ELECTRONICS_SHOP,250739.00,162.500972,1543,High Spending
3,DEPARTMENT_STORE,2876655.00,115.560800,24893,High Spending
4,FASHION_SHOP,2843604.00,114.587524,24816,High Spending
...,...,...,...,...,...
74,HIPSTER_COFFEE_SHOP,561901.70,2.415867,232588,Standard Spending
75,A_CAFE,1144734.25,2.409186,475154,Standard Spending
76,A_LOCAL_COFFEE_SHOP,1141932.30,2.408332,474159,Standard Spending
77,COFFEE_SHOP,1146046.25,2.407160,476099,Standard Spending
78,TOTALLY_A_REAL_COFFEE_SHOP,1145875.50,2.406978,476064,Standard Spending